<div class="titlePage", style="color:white; text-shadow: 0 0 8px #ffbcb5;">Список категорий</div>

<div class="listCategories">
  <%= link_to 'Добавить категорию', new_category_path, class: "categorieOptions" if user_signed_in?() %>
  <% @categories.each do |category| %>
    <div class="categorie">
    <%= link_to category.title, category_path(category), class: "linkCategorie", id: "pink" %>
    </div>
    <%= link_to 'Редактировать', edit_category_path(category), class: "categorieOptions" if user_signed_in?()%>
    <%=  link_to 'Убрать категорию', category_path(category), class: "categorieOptions",
                method: :delete,
                data: { confirm: 'Are you sure?' } if user_signed_in?()%>
  <% end %>
</div>