
<p class="titlePage" id="titleCategory">
  <%= @category.title %>
</p>

<div class="listCards">
  <%= render @category.garments %>
</div>
<%= link_to 'Back', categories_path, class: "editBackLink" %>

<p class="titlePage" id="titleForm">Добавить предмет</p>
<%= render 'garments/form' %>